<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ZC: Home</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div>
            <img src="my_logo.png"><br><br>
            <h1>Zesty's Corner</h1>
        </div><br><br><br><br><br>
        <a href="/newtask"><h2>Add Task</h2></a>&nbsp;&nbsp;
        <a href="/newdeveloper"><h2>Add Developer</h2></a>&nbsp;&nbsp;
        <a href="/listtasks"><h2>List Tasks</h2></a>&nbsp;&nbsp;
        <a href="/listdevelopers"><h2>List Developers</h2></a>&nbsp;&nbsp;
        <a href="/updatetask"><h2>Update Tasks</h2></a>&nbsp;&nbsp;
        <a href="/delete"><h2>Delete Tasks</h2></a>
    </body>
</html>